# Make power button blink when battery is at 5% capacity
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="5", RUN+="/home/thibault/.config/low_power.sh"

# Make power button blink when battery is at 10% capacity
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="10", RUN+="/home/thibault/.config/low_power.sh"

# Make power button blink when battery is at 15% capacity
SUBSYSTEM=="power_supply", ATTR{status}=="Discharging", ATTR{capacity}=="15", RUN+="/home/thibault/.config/low_power.sh"
